<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>
        Report History
      </h2>
      <ul class="list-group">
        <% @reports.each do |report| %>
          <li class="list-group-item">
            <%= link_to report do %>
              Report#<%= report.id %> (<%= report.keywords.size %> keywords) 
              <small><%= time_ago_in_words(report.created_at) %> ago</small>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>