<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_tag({action: :create}, multipart: true) do %>
        <div class="form-group">
          <%= label_tag "Upload file with keywords (max keywords is 100)" %><br>
          <small>You can use <%= link_to 'this sample file', root_url+"sample_file.csv" %></small>
          <%= file_field_tag :file, {class: "form-control", accept: '.csv'} %>
        </div>
        <%= submit_tag "Generate Report", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
