<div class="container padding">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      Report#<%= @report.id %> contains <%= @report.keywords.size %> keywords <br>
      generated <%= time_ago_in_words(@report.created_at) %> ago
      <% @report.search_results.each do |search_result| %>
        <div class="card">
          <div class="card-body">
            Keyword: <%= search_result.keyword %><br>
            <% if search_result.ready? %>
              Result Stats: <%= search_result.result_stats %><br>
              No. of results: <%= search_result.no_of_results %><br>
              No. of links: <%= search_result.no_of_links %><br>
              No. of AdWords: <%= search_result.no_of_adwords %><br>
              Page Cache: <%= link_to "Result#{search_result.id}", page_cache_path(report_id: @report.id, id: search_result.id) %><br>
            <% else %>
              Processing...
            <% end %>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</div>

