<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Report Generator", root_path, class: "nav-link #{active_menu_class(root_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Report History", reports_path, class: "nav-link  #{active_menu_class(reports_path)}" %>
      </li>
      <li class="nav-item">
        <span class="navbar-text text-info">You are Logged in as <%= current_user.email %></span>
      </li>
      <li class="nav-item pull-right">
        <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>  
      </li>
    </ul>
  </div>
</nav>